GEMINI_API_KEY=gemini_api_key
NEXT_PUBLIC_BASE_URL=https://quran-gpt.netlify.app
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=google_maps_api_key
NEXT_PUBLIC_GOOGLE_MAPS_MAP_ID=map_id
TAVILY_API_KEY=tavily_api_key
ELEVENLABS_API_KEY=elevenlabs_api_key